@font-face{
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
}

a, .select-dropdown span, #realizado .card-title, .input-field .active{
	color: #439bb4 !important;
}

body{
	display: flex;
	flex-direction: column;
}

.botones{
	display: block;
	margin: 0 auto;
}

#botones1{
	margin-top: 3em;
}

#botones1 p{
	text-align: center;
}

.button{
	background-color: #D9D2C0;
	color: #624A4D !important;
	padding: 0.3em 0.7em;
	font-size: 2.3em;
	border: 3px solid #624A4D;
	border-radius: 0.1em;
	margin: 0 2.5em;
	margin-bottom: 0.5em;
	box-shadow: 1px 2px 4px grey;
	transition: 0.5s all !important;
}

.button:hover{
	background-color: #624A4D;
	border-color: #c3cd77;
	color: #c3cd77 !important;
	box-shadow: 1px 2px 10px black;
}

.button:focus, .button:active{
  background-color: #D9D2C0 !important;
}

#cancelar{
  margin-top: 1.5em;
}

.card{
	margin-top: 2em;
	background-color: #D4CDC5;
	box-shadow: 1px 2px 4px grey;
	padding: 0 !important;
}

.card label, #confirmar .card-title{
	color: #624A4D !important;
}

#check{
	margin-bottom: 2em;
	margin-top: 0;
}

#check h3, .comoH3, .card label, #realizado .card-title, #confirmar .card-title{
	font-weight: bold;
}

#check label{
	min-width: 8.5em;
	font-weight: normal;
}

.data{
	margin-top: 1.8em;
}

#datos0{
  padding: 0.5em;
}

#datos1, #datos2, #datos3, #confirmacion, #realizado{
	display: none;
}

.especial{
	background-color: #c3cd77;
	color: #624A4D;
}

.especial:focus, .especial:active{
  background-color: #c3cd77 !important;
}

.especial2{
	background-color: #624A4D;
	color: #c3cd77 !important;
}

.especial2:focus, .especial2:active{
  background-color: #624A4D !important;
}

.especial, .especial2{
	font-size: 1em;
}

.especial:hover{
	border-color: #c3cd77;
}

footer, nav{
	background-color: #D9D2C0 !important;
	font-size: 1.3em;
}

footer .container, main, nav{
	color: #4a4a4a;
}

form h2{
	font-size: 1em;
}

h1{
	font-size: 2.5rem;
	color: #624A4D;
	font-weight: bold;
}

h1, .button, nav{
    font-family: 'Lobster', cursive;
}

h2{
	font-size: 1.5rem;
}

h3, .comoH3{
	font-size: 1.2rem !important;
}

input:focus, textarea:focus{
	border-color: #439bb4 !important;
	box-shadow: 0 1px 0 0 #439bb4 !important;
}

.letraNav{
	margin-left: 6em;
	font-size: 0.7em;
}

.logo{
	width: 1.5em;
}

main{
	flex: 1 0 auto;
	min-height: 100vh;
	background-image: url("../img/plate-1486363.jpg");
	background-position: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.misBotones{
	margin-top: 0;
}

.no-button{
  background-color: transparent !important;
  border: none !important;
}

.picker__weekday-display{
	display: none !important;
}

.picker__frame{
	margin-top: 0;
}

.select-wrapper{
	margin-top: 0.8em;
}

.separar{
	margin: 0.7em;
}

table{
  margin-bottom: 1em;
}

td, th{
  padding: 1em;
  font-size: 0.6em;
}

/* Apartados PROCESO reserva  */
#ubicaciones{
	background-color: #4a4a4a;
	padding: 0;
	color: grey;
  border-radius: 2px 2px 0 0;
}

#ubicaciones h2{
	margin: 0.5em;
	padding: 0.5em 0 0.5em 0;
	font-size: 0.7em;
}

.ubicacion{
	border-bottom: 2px solid white;
	color: white;
}

/* LEYENDA CALENDARIO */
#disp, #pDisp, #ocup{
  display: inline-block;
  min-height: 1em;
  min-width: 1em;
  margin-right: 0.7em;
  outline-color: MediumSeaGreen; /*#3CB371*/
  outline-style: solid;
  outline-offset:0.12em;
}
#disp{
  background-color: MediumSeaGreen;
}
#pDisp{
  background-color: lightsalmon; /*#FFA07A*/
  outline-color: lightsalmon;
}
#ocup{
  background-color: lightcoral; /*#F08080*/
  outline-color: lightcoral;
}

@media screen and (min-width:601px){
	.letraNav{
		margin-left: 5em;
		font-size: 1em;
	}

	.logo{
		width: 1.8em;
		margin-left: 0.5em;
	}

  td, th{
    font-size: 1em;
  }

	#ubicaciones h2{
		font-size: 1em;
	}

	.ubicacion{
		border-width: 3px;
	}
}

@media screen and (min-width:666px){
	.button{
		margin-bottom: 0;
	}
}

@media screen and (min-width:1201px){
	.logo{
		width: 1.7em;
	}
}
