@font-face{
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
}

a, .select-dropdown span, #realizado .card-title, .input-field .active{
	color: #439bb4 !important;
}

body{
	display: flex;
	flex-direction: column;
}

.bcalendario{
  background-color: #4a4a4a;
  color: white;
}

.bcalendario:hover, .bcalendario:focus, .bservicio:hover, .bservicio:focus{
  background-color: silver !important;
  color: #333 !important;
}

.bservicio{
  margin: 0.1em;
  margin-top: 0.5em;
  border-radius: 0.2em;
  min-width: 15em;
  right: 10em;
}

.bservicios{
  display: none;
  position: absolute;
  z-index: 999 !important;
  transition: 1s;
}
td:hover > .bservicios{
  display: block
}

.botones{
	display: block;
	margin: 0 auto;
}

#botones1{
	margin-top: 0.5em;
}

#botones1 p{
	text-align: center;
}

.button{
	background-color: #D9D2C0;
	color: #624A4D !important;
	padding: 0.3em 0.7em;
	font-size: 2.3em;
	border: 3px solid #624A4D;
	border-radius: 0.1em;
	margin: 0 2.5em;
	margin-bottom: 0.5em;
	box-shadow: 1px 2px 4px grey;
	transition: 0.5s all !important;
}

.button:hover{
	background-color: #624A4D;
	border-color: #c3cd77;
	color: #c3cd77 !important;
	box-shadow: 1px 2px 10px black;
}

.button:focus, .button:active{
  background-color: #D9D2C0 !important;
}

#cancelar{
  margin-top: 1.5em;
}

.card{
	margin-top: 2em;
	background-color: #D4CDC5;
	box-shadow: 1px 2px 4px grey;
	padding: 0 !important;
}

.card label, #confirmar .card-title{
	color: #624A4D !important;
}

.card>.card-content{
  padding-top: 0;
}

.cards>.card{
  margin-top: 0;
}

.cards img{
  height: 100%;
}

#cardLogin{
  margin-top: 0 !important;
}

#check{
	margin-bottom: 2em;
	margin-top: 0;
}

#check h3, .comoH3, .card label, #realizado .card-title, #confirmar .card-title{
	font-weight: bold;
}

#check label{
	min-width: 8.5em;
	font-weight: normal;
}

.colorDisponible{
  background-color: MediumSeaGreen;
}

.colorOcupado{
  background-color: lightcoral;
}

.colorPocoDisp{
  background-color: lightsalmon;
}
.colorDisponible2{
  color: MediumSeaGreen;
}

.colorOcupado2{
  color: lightcoral;
}

.colorPocoDisp2{
  color: lightsalmon;
}

.data{
	margin-top: 1.8em;
}

#datos0{
  padding: 0.5em;
}

#datos1, #datos2, #datos3, #confirmacion, #realizado{
	display: none;
}

#diaSiguiente, #diaAnterior{
  background-color: transparent;
  border: none;
  margin: 0.5em;
  transition: all 1s;
}

#diaSiguiente:hover, #diaAnterior:hover{
  transform: scale(1.3);
}

#mesActual{
  font-weight: bold;
  font-size: 1.5em;
}

.especial{
	background-color: #c3cd77;
	color: #624A4D;
}

.especial:focus, .especial:active{
  background-color: white !important;
  color: #439bb4 !important;
  border-color: #439bb4 !important;
}

.especial2{
	background-color: #624A4D;
	color: #c3cd77 !important;
}

.especial2:focus, .especial2:active{
  background-color: #624A4D !important;
}

.especial, .especial2{
	font-size: 1em;
}

.especial:hover{
	border-color: #c3cd77;
}

footer, nav{
	background-color: #D9D2C0 !important;
	font-size: 1.3em;
}

footer .container, main, nav{
	color: #4a4a4a;
}

form h2{
	font-size: 1em;
}

#formularioConsulta{
  display: none;
  padding: 1.5em 1em 0 !important;
}

h1{
	font-size: 2.5rem;
	color: #624A4D;
	font-weight: bold;
}

h1, .button, nav, #mesActual{
    font-family: 'Lobster', cursive;
}

h2{
	font-size: 1.5rem;
}

h3, .comoH3{
	font-size: 1.2rem !important;
}

input:focus, textarea:focus{
	border-color: #439bb4 !important;
	box-shadow: 0 1px 0 0 #439bb4 !important;
}

.letraNav{
	margin-left: 6em;
	font-size: 0.7em;
}

.logo{
	width: 1.5em;
}

main{
	flex: 1 0 auto;
	min-height: 100vh;
	background-image: url("../img/plate-1486363.jpg");
	background-position: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.marginTop{
  margin-top: 2em !important;
}
.marginTop1{
  margin-top: 1em !important;
}

.marginBot{
  margin-bottom: 1em !important;
}

.row.marginTop2, span.card-title.activator.grey-text.text-darken-4{
    margin-top: 1em;
}

div#realizado {
    margin-top: 1.5em;
}

.misBotones{
	margin-top: 0;
}

.no-button{
  background-color: transparent !important;
  border: none !important;
}

.picker__weekday-display{
	display: none !important;
}

.picker__frame{
	margin-top: 0;
}

#resultadoConsulta .card-content{
  padding: 0;
}

#resultadoConsulta .card-title{
  font-weight: bold;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: #439bb4;
  background-color:  #624A4D;
  color: white;
}

#resultadoConsulta .button{
  text-transform: capitalize;
}

.select-wrapper{
	margin-top: 0.8em;
}

.separar{
	margin: 0.7em;
}

table{
  margin-bottom: 1em;
}

td, th{
  padding: 1em;
  font-size: 0.6em;
}

/* Apartados PROCESO reserva  */
#ubicaciones{
	background-color: #4a4a4a;
	padding: 0;
	color: grey;
  margin-bottom: 0 !important;
}

#ubicaciones h2{
	margin: 0.5em;
	padding: 0.5em 0 0.5em 0;
	font-size: 0.7em;
}

#ubicaciones, #resultadoConsulta .card-title{
  border-radius: 2px 2px 0 0;
}

.ubicacion{
	border-bottom: 2px solid white;
	color: white;
}

/* LEYENDA CALENDARIO */
#disp, #pDisp, #ocup, #servicioDuo{
  display: inline-block;
  min-height: 1em;
  min-width: 1em;
  margin-right: 0.7em;
  outline-color: MediumSeaGreen; /*#3CB371*/
  outline-style: solid;
  outline-offset:0.12em;
}
#disp{
  background-color: MediumSeaGreen;
}
#pDisp{
  background-color: lightsalmon; /*#FFA07A*/
  outline-color: lightsalmon;
}
#ocup{
  background-color: lightcoral; /*#F08080*/
  outline-color: lightcoral;
}

#servicioDuo{
  background-color: #4a4a4a;
  outline-color: #4a4a4a;
}

/* FORMULARIOS CAMBIOS RADICALES */

#datos2 .input-field, #datos3, #formularioConsulta{
	text-align: left;
}

.misBotones, #botones1{
  text-align: center;
}

.inputEst, .textareaEst{
	background-color: white !important;
	background: rgba(255,255,255,0.8) !important;
	border-radius: 0.2em !important;
	margin-top: 0.5em !important;
	padding-left: 1em !important;
}

.textareaEst{
  border: none;
}

.labelEst{
	position: static !important;
}

label.active{
	font-size: 1.2rem !important;
	color: #624A4D !important;
}

.errores{
  background-color: lightcoral !important;
  border-radius: 0.2em !important;
}

.conMargin{
  margin: 1em !important;
}

.conPadding{
  padding: 0.5em !important;
}

.sinMargin{
  margin: 0 !important;
}

.sinPadding{
  padding: 0 !important;
}

.sinPaddingBot{
  padding-bottom: 0 !important;
}

.paddingTop1{
  padding-top: 1.5em !important;
}

.paddingTop2{
  padding-top: 4em !important;
}

.paddingBot{
  padding-botom: 1em !important;
}

.paddingIzda{
  padding-left: 1em !important;
}

.minus{
    text-transform: capitalize !important;
}

#confirmacion h3{
	color: salmon;
	font-weight: bold;
}
.sombraTexto{
  color: #f5f5f5;
  text-shadow: 1px 2px 4px #333333;
}

#partesBoletin a{
	width: 100%;
	display:inline-block;
	padding:0 !important;
}



/* RESPONSIVE */

@media screen and (min-width:601px){
  .bservicio{
	  right: 5.4em;
	}
	.letraNav{
		margin-left: 5em;
		font-size: 1em;
	}

	.logo{
		width: 1.8em;
		margin-left: 0.5em;
	}

  td, th{
    font-size: 1em;
  }

	#ubicaciones h2{
		font-size: 1em;
	}

	.ubicacion{
		border-width: 3px;
	}
}
.errores{
  display: none;
  width: 100%;
  background: red;
  padding: 0.7em 1em;

}

.justificado{
  text-align: justify;
}
.espacio{
  margin: 1em;
}
.espacio2{
  margin: 2em;
}
.opacidad {
    background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (min-width:666px){
	.button{
		margin-bottom: 0;
	}
}

@media screen and (min-width:1201px){
  .bservicio{
	  right: 3.5em;
	}
	.logo{
		width: 1.7em;
	}

  /*.row{
    width: 100% !important;
  }

  .card{
    min-width: 842.22px !important;
    display: block !important;
    margin: 0 auto !important;
  }*/
}
