{% extends 'reservasBundle::layout.html.twig' %}
{% block content %}

	<!-- NAV -->
	 <nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo left"><img class="logo" src="{{asset('bundles/reservas/img/image948-e1447362808491.png')}}"></a>
	    	<span class="letraNav">Reservas Restaurante IES Gran Capitán</span>
	    </div>
	  </nav>

	<!-- MAIN -->
	<main class="valign-wrapper center-align">
		<div class="row">

			<div class="col s12">
				<div class="row">
					<p class="col s12">Introduzca su código de reserva para consultar sus datos</p>
					<div class="input-field col s12">
						<button id="buscar" class="prefix no-button"><i class="material-icons">search</i></button>
						<input type="text" id="entrada">
					</div>
				</div>
			</div>

			<div id="resultadoConsulta" class="col s12">
			
			</div>

		</div>

	</main>

{% endblock %}
