{% extends 'reservasBundle::layout.html.twig' %}
{% block content %}

	<!-- MAIN -->
	<main class="valign-wrapper center-align">
		<div class="row">
			<div class="center-align">
				<a href="http://hosteleria.iesgrancapitan.org/"><img class="logoGC" src="{{asset('bundles/reservas/img/image948-e1447362808491.png')}}" alt="logo IES Gran Capitán"></a>
			</div>

			<div class="center-align s12">
				<h1>Reservas <br/>Restaurante-Escuela</h1>
				<h2>IES Gran Capitán</h2>
			</div>
			<div class="botones center-align">
				<a href="/consultar" class="button waves-effect waves-light">Consultar</a>
				<a href="/reservas" class="button waves-effect waves-light">Reservar</a>
			</div>
		</div>

	</main>

{% endblock %}
