{% extends 'reservasBundle::layout.html.twig' %}
{% block content %}
<main class="valign-wrapper center-align">
  <div class="row">
    <h1 class="sombraTexto">Política de Protección de Datos</h1>

      <div class="card col-s10 paddingTop1 opacidad">
        <div class="card-content">
          <div class="espacio"></div>
          <p class="justificado">De conformidad con lo establecido en la <strong>Ley Orgánica 15/1999
            de 13 de diciembre de Protección de Datos de Carácter Personal</strong>,
            le informamos que los datos de carácter personal que nos facilite
            a través de los distintos formularios de entrada dispuestos al
            efecto en la Web <a href="#">http://www.reservas_restaurante_escuela.es</a> o en cualquier otro
             canal de recogida de los mismos, serán incorporados y tratados
             en los ficheros denominados maestro Gestión de Usuarios
             responsabilidad del <strong>Restaurante-Escuela del IES Gran Capitán</strong> con la
             finalidad de gestionar su solicitud de reserva y/o información, así como para
             mantenerle informado sobre la actividad del Restaurante-Escuela y sus servicios.</p>
             <div class="espacio"></div>
             <p class="justificado">Así mismo, en virtud de lo establecido en la <strong>Ley 34/2002 de 11 de julio,
               de Servicios de la Sociedad de la Información y de Comercio Electrónico</strong>,
               EL USUARIO de la web <a href="#">http://www.reservas_restaurante_escuela.es</a> al facilitar
               voluntariamente sus datos de carácter personal a través de los distintos
               formularios de entrada dispuestos al efecto en la web, autoriza de manera
               expresa a que sus datos puedan ser utilizados en el envío de comunicaciones
               comerciales y ofertas publicitarias por e-mail, fax o cualquier otro medio
               electrónico o físico, presente o futuro.</p>
               <div class="espacio"></div>
            <p class="justificado">Todos los datos recopilados a través de la Web son obligatorios.
              En caso de no ser facilitados, <strong>Restaurante-Escuela IES Gran Capitán</strong> no
              garantiza que los servicios prestados se ajusten completamente a sus
              necesidades.</p>
              <div class="espacio"></div>
            <p class="justificado">Si se opone a recibir comunicaciones comerciales escribamos a la dirección
              de correo electrónico
              <a href="mailto:hosteleria@iesgrancapitan.org">hosteleria@iesgrancapitan.org</a>
              indicando BAJA en el asunto. El consentimiento se entenderá prestado en tanto no
               nos comunique expresamente la revocación del mismo a alguno de los tratamientos
               indicados anteriormente.</p>
               <div class="espacio"></div>
            <p class="justificado">EL USUARIO de la web será el único responsable de la veracidad y exactitud
              de los datos aportados, actuando el <strong>Restaurante-Escuela del IES Gran Capitán</strong>
               de buena fe como mero prestador del servicio. En caso de haber facilitado
               datos falsos o de terceras personas sin mediar su consentimiento para ello,
               el Restaurante-Escuela se reserva el derecho a la destrucción inmediata de
               los citados datos a fin de proteger el derecho del titular o titulares de
               los mismos.</p>
               <div class="espacio"></div>
            <p class="justificado">El <strong>Restaurante-Escuela del IES Gran Capitán</strong> se compromete al
              cumplimiento de su obligación de secreto de los datos de carácter personal y
              de su deber de guardarlos y adoptará todas las medidas de índole técnica y
              organizativa para garantizar la seguridad de los datos de carácter personal y
              evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida
              cuenta del estado de la tecnología, la naturaleza de los datos almacenados y
              los riesgos a que estén expuestos, todo ello de conformidad con lo establecido
               en el <strong>Real Decreto 1720/2007</strong>.</p>
               <div class="espacio"></div>
            <p class="justificado">El sitio Web dispone de las medidas de seguridad de la información generalmente
               utilizadas para evitar el acceso no autorizado a los datos personales.</p>
               <div class="espacio"></div>
            <p class="justificado">El acceso a esta web puede implicar la utilización de cookies. Las cookies son
              pequeñas cantidades de información que se almacenan en el navegador utilizado
              por cada usuario para que el servidor recuerde cierta información que
              posteriormente pueda utilizar. Esta información permite identificarle a usted
              como un usuario concreto y permite guardar sus preferencias personales, así como
              información técnica como puedan ser visitas o páginas concretas que visite.
              Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes
               de que se almacenen en su ordenador, pueden configurar su navegador a tal efecto.</p>
               <div class="espacio"></div>
            <p class="justificado">EL USUARIO de la web podrá en cualquier momento ejercer sus derechos de acceso,
              rectificación, cancelación y oposición en los términos establecidos en la
               <strong>Ley Orgánica 15/1999</strong>, dirigiéndose al responsable del fichero,
               en la siguiente dirección postal:  <strong>IES Gran Capitán - C/ Arcos de la Frontera
               s/n CP 14014 Córdoba</strong>.</p>
        </div>
      </div>


  </div>
</main>
{% endblock %}
