{% extends 'reservasBundle::layout.html.twig' %}
{% block content %}

	<!-- NAV -->
	 <nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo left"><img class="logo" src="{{asset('bundles/reservas/img/image948-e1447362808491.png')}}"></a>
	    	<span class="letraNav">Reservas Restaurante IES Gran Capitán</span>
	    </div>
	  </nav>

	<!-- MAIN -->
	<main class="valign-wrapper center-align">

		<div class="row">
			<div class="card col s10 l8 offset-s1 offset-l2">
				<div id="ubicaciones" class="row">
					<div class="col s4">
						<h2  id="parte1" class="ubicacion">Datos</h2>
					</div>

					<div class="col s4">
						<h2 id="parte2" >Confirmar</h2>
					</div>

					<div class="col s4">
						<h2 id="parte3" >Realizado</h2>
					</div>
				</div>

				<div id="datos0" class="card-content">
					<!-- CALENDARIO -->
					<div class="row">
						<table class="bordered centered highlight col s12">
							<thead>
								<tr>
									<th>L</th>
									<th>M</th>
									<th>X</th>
									<th>J</th>
									<th>V</th>
									<th>S</th>
									<th>D</th>
								</tr>
							</thead>
							<tbody id="calendar">

							</tbody>
						</table>

						<p class="col s4"><span id="disp"></span>Disponible</p>
						<p class="col s4"><span id="pDisp"></span>Poca Disponibilidad</p>
						<p class="col s4"><span id="ocup"></span>Ocupado</p>

						<!-- Cancelar -->
						<div class="col s12"><a id="cancelar" href="/" class="button especial2 waves-effect waves-light">Cancelar</a></div>
					</div>
					<div id="#modal1" class="modal">

					</div>
				</div>

				<div id="datos1" class="card-content">
					<!-- SERVICIOS -->
					<div class="row">
						<div id="servicios" class="col s12">

						</div>
						<div class="col s12"><button id="atras0" class="button especial2">Atrás</button></div>
					</div>
				</div>

				<div id="datos2" class="card-content">
					<!-- HORA Y PERSONAS -->
						<div class="row">
							<div class="input-field col s12">
								<select id="hora">
									<option value="13:00">13:00</option>
									<option value="14:00">14:00</option>
									<option value="15:00">15:00</option>
							    </select>
    							<label class="comoH3">Hora</label>
							</div>

							<div class="input-field col s12">
								<select id="plazas">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
							    </select>
    							<label class="comoH3">Personas</label>
							</div>

							<div class="input-field col s12 misBotones">
								<div id="botones1" class="row">
									<div class="col s12 m6"><button id="atras1" class="button especial2">Atrás</button></div>
									<div class="col s12 m6"><button id="siguiente" class="button especial">Siguiente</button>	</div>
								</div>
							</div>
						</div>

				</div>


				<div  id="datos3" class="card-content">

						<div class="row">
							<div class="input-field col s12 m6 l3">
								<input data-validation="length alphanumeric" id="name" type="text" name="">
								<label for="name">Nombre</label>
							</div>

							<div class="input-field col s12 m6 l3">
								<input data-validation="custom" data-validation-regexp="^([a-z]+)$" id="ap" type="text" name="">
								<label for="ap">Apellidos</label>
							</div>

							<div class="input-field col s12 m6 l3">
								<input data-validation="custom" data-validation-regexp="^([0-9]+)$" id="tlfn" type="text" name="">
								<label for="tlfn" data-error="escriba un número de teléfono válido" data-success="correcto">Telefono</label>
							</div>

							<div class="input-field col s12 m6 l3">
								<input data-validation="email" id="email" type="text" name="">
								<label for="email">Correo</label>
							</div>

							<div id="check" class="input-field col s12">
								<div class="row">
									<div class="col s12">
										<h3>Alérgenos</h3>
									</div>

									<div class="col">
										<p>
											<input type="checkbox" class="filled-in" name="" id="gluten">
											<label for="gluten">Gluten</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="huevos">
											<label for="huevos">Huevos</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="pescado">
											<label for="pescado">Pescado</label>
										</p>
									</div>

									<div class="col">
										<p>
											<input type="checkbox" class="filled-in" name="" id="cacahuetes">
											<label for="cacahuetes">Cacahuetes</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="soja">
											<label for="soja">Soja</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="lacteos">
											<label for="lacteos">Lácteos</label>
										</p>
									</div>

									<div class="col">
										<p>
											<input type="checkbox" class="filled-in" name="" id="apio">
											<label for="apio">Apio</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="mostaza">
											<label for="mostaza">Mostaza</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="sesamo">
											<label for="sesamo">Sésamo</label>
										</p>
									</div>

									<div class="col">
										<p>
											<input type="checkbox" class="filled-in" name="" id="sulfitos">
											<label for="sulfitos">Sulfitos</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="moluscos">
											<label for="moluscos">Moluscos</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="crustaceos">
											<label for="crustaceos">Crustáceos</label>
										</p>
									</div>

									<div class="col">
										<p>
											<input type="checkbox" class="filled-in" name="" id="altramuces">
											<label for="altramuces">Altramuces</label>
										</p>
										<p>
											<input type="checkbox" class="filled-in" name="" id="frutos_secos">
											<label for="frutos_secos">Frutos secos</label>
										</p>
									</div>


								</div>
							</div>

							<div class="input-field col s12 l6 obs">
								<textarea id="observaciones" class="materialize-textarea">
								</textarea>
								<label class="comoH3" for="observaciones">Observaciones</label>
							</div>

							<div class="input-field col s12 l6">
								<p>
									<input id="boletin" class="filled-in" type="checkbox" name="" checked>
									<label for="boletin">¿Desea subscribirse a nuestro boletín informativo?</label>
								</p>
							</div>

							<div class="input-field col s12 l6">
								<p id="captcha">
									<input id="robot" class="filled-in" type="checkbox" name="">
									<label for="robot">No soy un robot</label>
								</p>
							</div>
							<div class="input-field col s12 misBotones">
								<div id="botones1" class="row">
									<div class="col s12 m6"><button id="atras2" class="button especial2">Atrás</button></div>
									<div class="col s12 m6"><button id="reservar" class="button especial">Reservar</button>	</div>
								</div>
							</div>
						</div>

				</div> <!-- DATOS 3 - card content -->

				<div id="confirmacion" class="card-content">
						<div class="row">
							<span class="card-title activator grey-text text-darken-4">¿Sus datos son correctos?</span>
      						<div id="datosparaconfirmar" class="col s12">
										<p class="col s2">dato 1</p>
										<p class="col s2">dato 3</p>
										<p class="col s2">dato 4</p>
      						</div>
						</div>
						<div class="input-field col s12 misBotones">
							<div id="botones1" class="row">
								<div class="col s12 m6"><button id="atras3" class="button especial2">Atrás</button></div>
								<div class="col s12 m6"><button id="confirmar" class="button especial">Confirmar</button>	</div>
							</div>
						</div>
				</div> <!-- CONFIRMAR - card-content -->

				<div id="realizado" class="card-content">
						<div class="row">
							<span class="card-title">¡Su reserva se ha realizado con éxito!</span>
							<p class="center-align">Puede descargarse la información de su reserva si así lo desea</p>

							<p class="col s12 center-align"><button id="descargar" class="button especial separar">Descargar</button>	</p>
							<p class="col s12 center-align"><button id="salir" class="button especial2 separar">Salir</button></p>
						</div>
				</div> <!-- REALIZADO - card-content -->
			</div>
		</div>
	</main>

{% endblock %}
