{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper center-align">
  <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <span class="card-title">Añadir Formulario</span>
        <form class="" action="/admin/boletin/add" method="post">
            <label class="left-align"for="">Asunto</label>
            <input type="text" name="asunto" value="" required>
            <label class="left-align"for="">Texto</label>
            <textarea name="texto" rows="8" cols="80"></textarea>
            <input type="submit" class="button especial" name="add" value="Add">
        </form>
      </div>

    </div>

  </div>
</main>
{% endblock %}
