{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper paddingTop2">
<div class="row">
  <header class="col s12">
    <h1 class="center-align">Añadir Menú <a href="/admin/menus"><i class="material-icons btn-floating">close</i></a></h1>
  </header>

  <div class="col s12">
    <div class="card">
      <div class="card-content paddingTop1">
          <form class="" action="/admin/menus/add" enctype="multipart/form-data" method="post">
            <div class="row">
              <div class="col s12 m9">
                <label class="comoH3">Nombre</label>
                <input id="nombre" required class="inputEst sinPadding center-align" name="nombre"  type="text" name="nombre">
              </div>

              <div class="col s12 m3">
                <label class="comoH3">Precio</label>
                <input  class="inputEst sinPadding center-align" type="number" step="any" name="precio" min="0" value="">
              </div>

              <div class="col s12">
                <input id="arch" type="file" name="imagen" accept=".jpg,.png" value="">
              </div>
            </div>

              <div class="row">
                <label class="col s12 comoH3 marginBot">Alérgenos</label>
                {% for alergeno in alergenos %}
                  <div class="col s12 l2">
                      <input type="checkbox" id="{{alergeno.nombre}}" class="filled_in" name="alergenos[]" value="{{alergeno.nombre}}">
                      <label for="{{alergeno.nombre}}">{{alergeno.nombre}}</label>
                  </div>
                {% endfor %}
              </div>

              <div class="row sinMargin">
                  <div class="col s12 center-align">
                    <input type="submit" class="button especial" name="add" value="Añadir">
                  </div>
              </div>
          </form>
      </div>
    </div>

  </div>

</div>
</main>
{% endblock %}
