{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
  <div class="card">
    <div class="card-content">
        <form class="" action="" method="post">
          {{form_widget(form)}}
          <input type="submit" class="button especial" name="" value="Guardar">
        </form>
    </div>

  </div>
{% endblock %}
