{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper">
  <div class="row">
    <h1 class="col s12 center-align">Configuración</h1>

    <div class="col s12">
      <div class="card paddingTop1">
        <div class="card-content sinPaddingBot">
          <form class="" action="" method="post">
            <div class="input-field col s12 l6 obs">
              <label class="comoH3 labelEst" for="confirmacionadmin">Confirmación</label>
              <textarea id="confirmacionadmin" class="materialize-textarea textareaEst" name="confirmacion">
                {{config.confirmacion}}
              </textarea>
            </div>
            <div class="input-field col s12 l6 obs">
              <label class="comoH3 labelEst" for="listanegra">Lista Negra</label>
              <textarea name="listanegra" id="listanegra" class="materialize-textarea textareaEst">
                {{config.listanegra}}
              </textarea>
            </div>
            <div class="input-field col s12 l6 obs">
              <label class="labelEst" for="recordatorio" >Cancelacion</label>
              <textarea name="recordatorio" id="recordatorio" class="materialize-textarea textareaEst">
                {{config.recordatorio}}
              </textarea>
            </div>
            <div class="botones center-align conPadding">
              <input type="submit" class="button especial" name="guardar" value="Guardar">
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
