{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper">
  <div class="row">
    <h1 class="col s12 center-align">Configuración</h1>
    
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <form class="" action="" method="post">
            {{form_widget(form)}}
            <input type="submit" class="button especial" name="" value="Guardar">
          </form>
        </div>

      </div>
    </div>
  </div>
</main>
{% endblock %}
