
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">    
  </head>
  <body style="padding: 0.7em;">
    <!-- NAV -->
     <nav>
        <div style="background-color: grey;padding: 1em;border-radius: 0.2em;" class="nav-wrapper">
          <a href="/" class="brand-logo left"><img style="width: 3em;" class="logo" src="{{asset('bundles/reservas/img/image948-e1447362808491.png')}}"></a>
          <span style="margin-left: 0.5em;font-size: 1.5em;" class="letraNav">Reservas Restaurante-Escuela IES Gran Capitán</span>
        </div>
     </nav>
     <!-- MAIN -->
   	<main class="valign-wrapper center-align">
   		<div class="row">
        <p style="margin-top: 2em;text-align: justify;">hello</p>
      </div>
    </main>

    <footer style="border-top: 2px solid grey;margin-top: 2em;">
      <div class="row">
        <div class="col s12">
          <h3>INFORMACION Y RESERVAS</h3>
          <h4>Restaurante-Escuela IES Gran Capitán</h4>
          <p>C/ Arcos de la Frontera s/n</p>
          <p><strong>CP:</strong> 14014 Córdoba</p>
          <p><strong>Tlfn:</strong> 697957465 / 957 379 710</p>
          <p><strong>Email:</strong> <a href="mailto: restaurante-escuela@iesgrancapitan.org">restaurante-escuela@iesgrancapitan.org</a></p>
          <p><strong>Web:</strong> <a href="www.iesgrancapitan.org/departamento/hosteleria">www.iesgrancapitan.org/departamento/hosteleria</a></p>
        </div>

        <div class="col s12">
          <p>El Medio Ambiente es cosa de todos. Antes de imprimir este correo piense si es realmente necesario hacerlo.</p>
          <p>En cumplimiento de la Ley Orgánica 15/1999, de 13 de diciembre de protección de datos de carácter personal,
            se pone en conocimiento del destinatario del presente correo electrónico, que los datos incluidos en este mensaje,
            están dirigidos exclusivamente al citado destinatario cuyo nombre aparece en el encabezamiento, por lo que si usted
            no es la persona interesada ruego comunique el error de envío y se abstenga de realizar copias del mensaje, de los
            datos contenidos en el mismo, remitirlo o entregarlo a otra persona, procediendo a borrarlo de inmediato. Asimismo
            informamos que sus datos de correo han quedado incluidos en nuestra base de datos a fin de dirigirle, comunicaciones
            comerciales, profesionales e informativas relacionadas con nuestra actividad y que usted  dispone de los derechos de
            acceso, rectificación, cancelación y especificación de los mismos, derechos  que podrá hacer efectivos dirigiéndose
            a restaurante-escuela@iesgrancapitan.org</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
