{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
  <div class="row">
    <form class="col s12" action="" method="post">
          {{form_widget(form)}}
          <input type="submit" class="button especial" name="" value="guardar">
    </form>
  </div>
{% endblock %}
