{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper center-align">
  <div class="row">
    <div class="card col">
      <div class="card-content">


            <header class="row">
              <h4 class="col s12 center-align"> Lista Negra</h4>
            </header>
            <table class="bordered ">
                <thead>
                  <tr>
                    <th>Correo</th>
                  </tr>
                </thead>
                <tbody>

                    {% for correo in listanegra %}
                      <tr>
                        <td>{{correo.correo}}</td>
                        <td><a href="/admin/listanegra/delete/{{correo.idlistanegra}}" class="material-icons">delete</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>

      </div>
    <div class="card col">
      <div class="card-content">


            <header class="row">
              <h4 class="col s12 center-align"> Lista Espera</h4>
            </header>
        <table class="bordered ">
                <thead>
                  <tr>
                    <th>Correo</th>
                  </tr>
                </thead>
                <tbody>

                    {% for reserva in reservas %}
                      <tr>
                        <td>{{reserva.correo}}</td>
                        <td><a href="/admin/listanegra/delete/{{reserva.idreservas}}" class="material-icons">delete</a></td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>



        </div>

      </div>

    </div>
</main>
{% endblock %}
