{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper center-align paddingTop2">
  <div class="row">

    <h1 class="col s12 center-align">Manual de Usuario</h1>
    <!-- Tarjeta 1 -->
    <div class="col s12">
      <div id="colMala" class="row">
        <img class="col s12 m6" src="{{asset('bundles/reservas/img/Inicio.JPG')}}">

        <div id="listadoEst" class="col s12 m6">
          <ul class="collection with-header left-align">
            <li class="collection-header active avatar"><h4>Inicio</h4></li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">1</i>
              <span class="title">Consultar</span>
              <p>Una vez realizada una reserva puede consultarse la información de ésta desde aquí</p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">2</i>
              <span class="title">Reservar</span>
              <p>Para realizar una reserva en el Restaurante del IES Gran capitán acceda aquí</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Tarjeta 2 -->
    <div class="col s12">
      <div id="colMala" class="row">
        <div id="listadoEst" class="col s12 m6">
          <ul class="collection with-header left-align">
            <li class="collection-header active avatar"><h4>Inicio</h4></li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">1</i>
              <span class="title">Consultar</span>
              <p>Una vez realizada una reserva puede consultarse la información de ésta desde aquí</p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">2</i>
              <span class="title">Reservar</span>
              <p>Para realizar una reserva en el Restaurante del IES Gran capitán acceda aquí</p>
            </li>
          </ul>
        </div>

        <img class="col s12 m6" src="{{asset('bundles/reservas/img/Inicio.JPG')}}">    
      </div>
    </div>



  </div>
</main>
{% endblock %}
