{% extends 'reservasBundle:Admin:layout.html.twig' %}
{% block content %}
<main class="valign-wrapper center-align paddingTop2">
  <div class="row">

    <h1 class="col s12 center-align">Manual de Usuario</h1>
    <!-- Tarjeta 1 -->
    <div class="col s12">
      <div id="colMala" class="row">
        <img class="col s12 m6" src="{{asset('bundles/reservas/img/login.JPG')}}">

        <div id="listadoEst" class="col s12 m6">
          <ul class="collection with-header left-align">
            <li class="collection-header active avatar"><h4>Login</h4></li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">1</i>
              <span class="title">Nombre de Usuario</span>
              <p>Añadir el nombre de usuario para acceder a la administración de las reservas</p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">2</i>
              <span class="title">Contraseña</span>
              <p>Añadir la contraseña para acceder a la administración de las reservas</p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">3</i>
              <span class="title">Datos Correctos</span>
              <p>Si los datos son correctos tendrá acceso a la aplicación,
                sino saldrá un mensaje de error avisando que los datos son incorrectos</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Tarjeta 2 -->
    <div class="col s12">
      <div id="colMala" class="row">
        <div id="listadoEst" class="col s12 m6">
          <ul class="collection with-header left-align">
            <li class="collection-header active avatar"><h4>Servicios</h4></li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">1</i>
              <span class="title">Menú</span>
              <p>En esta primera página nos encontramos con el menú, con el que podemos
                pasar por los diferentes apartados de la aplicación: <strong>Servicios</strong>, <strong>Menús</strong>,
                <strong>Listados</strong>, <strong>Boletín</strong>, <strong>Configuración</strong></p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">2</i>
              <span class="title">Filtrar Servicios</span>
              <p>Los inputs ubicados al principio de la tabla permiten filtrar los servicios
                por fecha de servicio, plazas máximas, plazas ocupadas y plazas disponibles,
                lo cual facilita su localización</p>
            </li>
            <li class="collection-item avatar">
              <i class="listEst comoH3 circle">3</i>
              <span class="title">Añadir</span>
              <p>Los inputs ubicados al principio de la tabla permiten filtrar los servicios
                por fecha de servicio, plazas máximas, plazas ocupadas y plazas disponibles,
                lo cual facilita su localización</p>
            </li>
          </ul>
        </div>

        <img class="col s12 m6" src="{{asset('bundles/reservas/img/servicios1.JPG')}}">
      </div>
    </div>



  </div>
</main>
{% endblock %}
