<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ReservasGC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">
    <script src="{{asset('bundles/reservas/node_modules/jquery/dist/jquery.min.js')}}" charset="utf-8"></script>
    <script src="{{asset('bundles/reservas/js/index.js')}}" charset="utf-8"></script>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
